In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv('artifacts/no_GA_raw.csv')

df.head()

   Round  train_losses  test_losses  accuracies  gradients
0      1      2.295574     0.002303       10.00   0.139777
1      2      2.296282     0.002375       10.00   0.144999
2      3      2.353184     0.002304       10.00   1.601861
3      4      2.293629     0.002304        9.63   0.172887
4      5      2.302084     0.002304       10.00   0.098144

In [20]:
df = df.drop(columns=['train_losses', 'test_losses','gradients'])
df.columns = ['Round', 'Accuracy']
df

      Round  Accuracy
0         1     10.00
1         2     10.00
2         3     10.00
3         4      9.63
4         5     10.00
...     ...       ...
7815   7816     77.92
7816   7817     78.16
7817   7818     80.78
7818   7819     82.33
7819   7820     81.97

[7820 rows x 2 columns]

In [21]:
df_ref = pd.read_csv('artifacts/f=1.csv')
df_ref = df_ref.drop(columns=['Wall time'])
df_ref.columns = ['Round', 'Accuracy']
df_ref

     Round  Accuracy
0        0  0.078125
1       10  0.102273
2       16  0.105699
3       34  0.106250
4       36  0.104941
..     ...       ...
995   9948  0.101038
996   9956  0.101911
997   9971  0.101335
998   9978  0.101824
999  10000  0.101796

[1000 rows x 2 columns]

In [24]:
num_rows = len(df)

indices = np.linspace(0, num_rows - 1, num=len(df_ref), dtype=int)

df_sampled = df.iloc[indices].copy()

df_sampled

      Round  Accuracy
0         1     10.00
7         8     10.00
15       16     10.00
23       24     10.00
31       32     11.13
...     ...       ...
7787   7788     76.85
7795   7796     77.62
7803   7804     78.49
7811   7812     76.90
7819   7820     81.97

[1000 rows x 2 columns]

In [25]:
df_sampled['Round'] = df_ref['Round'].iloc[:1000].values
df_sampled

      Round  Accuracy
0         0     10.00
7        10     10.00
15       16     10.00
23       34     10.00
31       36     11.13
...     ...       ...
7787   9948     76.85
7795   9956     77.62
7803   9971     78.49
7811   9978     76.90
7819  10000     81.97

[1000 rows x 2 columns]

In [26]:
df_sampled.to_csv('artifacts/no_GA.csv', index=False)